<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container
  [lopp]="true"
  [pagination]="true"
  >
  <swiper-slide>
    <h1>Titulo</h1>
    <p>Contenido</p>
    <img src="https://www.freepik.es/foto-gratis/concepto-cine-entradas_3398142.htm#page=2&query=tickets%20ticket&position=13&from_view=keyword&track=ais&uuid=80b3b192-3e00-450a-9e13-47900c1f4021"/>
  </swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>Slide 4</swiper-slide>
  <swiper-slide>Slide 5</swiper-slide>
  <swiper-slide>Slide 6</swiper-slide>
  </swiper-container>
</ion-content>
