#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content.background {
  --background: url("../../assets/images/fondo-home.jpg") 0 0/100% 100% no-repeat;
}

.logo {
  font-family: 'Lobster', cursive;
  color: #753BBD;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 5px; 
  left: 5px;
  text-shadow: 2px 2px 2px rgb(179, 106, 194);
}