<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <ion-button (click)="goToLogin()"> Volver</ion-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center" >
    <img src= "../../assets/images/login.png" class="imagen-login">
 </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-input type="text" label="Nombre" labelPlacement="floating" placeholder="Nommbre" formControlName="name"></ion-input>
    </ion-item> 
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div *ngIf="
        (registerForm.get('name')?.hasError(validation.type) && 
        registerForm.get('name')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="text" label="Apellido" labelPlacement="floating" placeholder="Apellido" formControlName="last_name"></ion-input>
    </ion-item> 
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.last_name">
        <div *ngIf="
        (registerForm.get('last_name')?.hasError(validation.type) && 
        registerForm.get('last_name')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>  
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="
        (registerForm.get('email')?.hasError(validation.type) && 
        registerForm.get('email')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Contraseña" formControlName="password"></ion-input>
    </ion-item>  
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
        (registerForm.get('password')?.hasError(validation.type) && 
        registerForm.get('password')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input type="password" label="Confirme Contraseña" labelPlacement="floating" placeholder="Confirme Contraseña" formControlName="confirmation_password"></ion-input>
    </ion-item>  
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.confirmation_password">
        <div *ngIf="
          (registerForm.get('confirmation_password')?.hasError(validation.type) && 
          registerForm.get('confirmation_password')?.dirty)
        ">{{validation.message}}</div> 
      </ng-container>
      <div *ngIf="
    (registerForm.hasError('passwordMismatch', 'confirmation_password') && 
    registerForm.get('confirmation_password')?.dirty)
  ">Las contraseñas no coinciden</div>
</div>  
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button 
                  type ="submit" 
                  [disabled] = "!registerForm.valid"
                  color="primary"
                  expand="full"
                  shape="round"
                  mode="ios"
                  class="btn-primary">Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>
